@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    @foreach (var data in Model.PersonContainer.Persons)
    {
        <label>@data.FirstName</label>
        <label>@data.LastName</label>
        <label>@data.JobType</label>
    }
</div>